body a {
  color: #FF5500;
}
body a:hover {
  color: #FFB000;
  text-decoration: none;
}
body header {
  font-family: 'Lobster';
}
body header h1 {
  font-size: calc(25px + 2vmin);
}
body main {
  text-align: center;
  display: flex;
  align-items: center;
  height: 70vh;
}
body main section#sound-board {
  background-color: #fff;
  width: 100%;
}
body main section#sound-board div.column-container {
  padding: 0;
}
body main section#sound-board div.column-container audio {
  height: 38px;
}
body main section#sound-board div.column-container button.sound-pad {
  border: 1px solid #000;
}
body main section#sound-board div.column-container button.sound-pad.active {
  border: 1px solid #FFF;
}
body main section#sound-board div.column-container button.player-control {
  background-color: #FF5500;
  color: #fff;
}
body main section#sound-board div.column-container button.player-control:disabled {
  background-color: #101010;
}
body footer {
  width: 98%;
  position: absolute;
  bottom: 1vh;
  font-size: 12px;
  font-family: 'Roboto Mono', monospace;
}
body footer section {
  text-align: center;
}

@media only screen and (max-height: 260px) {
  footer {
    display: none;
  }
}
