body {
  a {
    color: #FF5500;
  }
  a:hover {
    color: #FFB000;
    text-decoration: none;
  }
  header {
    h1 {
      font-size: calc(25px + 2vmin);
    }
    font-family: 'Lobster';
  }
  main {
    text-align: center;
    display: flex;
    align-items: center;
    height: 70vh;
    section#sound-board {
      background-color: #fff;
      width: 100%;
      div.column-container {
        padding: 0;
        audio {
          height: 38px;
        }
        button.sound-pad {
          border: 1px solid #000;
        }
        button.sound-pad:active, button.sound-pad.active {
          border: 1px solid #FFF;
        }
        button.player-control {
          background-color: #FF5500;
          color: #fff;
        }
        button.player-control:disabled {
          background-color: #101010;
        }
      }
    }
  }
  footer {
    width: 98%;
    position: absolute;
    bottom: 1vh;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    section {
      text-align: center;
    }
  }
}
@media only screen and (max-height: 260px) {
  footer {
    display: none;
  }
}