body {
  a {
    color: #FF5500;
  }
  a:hover {
    color: #FFB000;
    text-decoration: none;
  }
  header {
    h1 {
      font-size: calc(18px + 2vmin);
    }
  }
  main {
    text-align: center;
    display: flex;
    align-items: center;
    height: 70vh;
    section#drum-board {
      background-color: #fff;
      width: 100%;
      div.column-container {
        padding: 0;
        audio {
          height: 38px;
        }
        button.drum-pad {
          border: 1px solid #000;
        }
        button.drum-pad:active, button.drum-pad.active {
          border: 1px solid #FFF;
        }
      }
    }
  }
  footer {
    width: 100%;
    position: absolute;
    bottom: 1vh;
    section {
      text-align: center;
    }
  }
}
@media only screen and (max-width: 450px) {
  #drum-board {
    display: none
      !important;
  }
  #rotate-message {
    display: inline !important;
    height: 70vh;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  body {
    padding: 0px !important;
    #drum-board {
      padding: 0px !important;
    }
  }
}
@media only screen and (max-height: 300px) {
  footer {
    display: none;
  }
}